@import "mixins";
@import "styles";

.rest {
  overflow-x: hidden;
  overflow-y: scroll;
  grid-area: rest;
  padding: 30px 15px 0px 15px;

  &__home {
    &-box {
      margin-bottom: 20px;
    }

    &-big-img {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      border: 3px solid @primary;
      border-radius: 5%;
      background-position: center center;
      background-size: 100% 100%;
      background-image: url(../Image/big-img.jpeg);
      color: white;
      width: 100%;
      font-size: 1.7rem;
      aspect-ratio: 1.5009 / 1;
      margin: auto;

      @media @breakpoint-lg {
        font-size: 1rem;
      }

      @media @breakpoint-md {
        font-size: 1.5rem;
      }
    }
  }

  &__resume-place-name {
    &_e {
      .placeName("e.png");
    }

    &_h {
      .placeName("h.png");
    }
  }

  &__information-box {
    padding: 0.5rem 0.5rem 1.3rem 0.5rem;
    margin-bottom: 10px;
  }

  &__skill-place-name {
    &_c {
      .placeName("c.png");
    }
  }

  &__skill-abilities-box {
    aspect-ratio: 1/ 1;
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr 1rem 1fr;
  }
}