@import "mixins";
@import "styles";

.rest {
  overflow-x: hidden;
  overflow-y: scroll;
  grid-area: rest;
  padding: 30px 15px 0px 15px;

  &__resume-box {

    .resume-box {

      &__header {
        margin-bottom: 10px;
      }

      &__line {
        .line(fade(black, 20%), 100%, 1px);
        margin: 10px 0 10px 0;
      }

      &__place-name {
        &_e {
          .placeName("e.png");
        }

        &_h {
          .placeName("h.png");
        }
      }

      &__information-box {
        border: 5px double gray;
        padding: 0.5rem 0.5rem 1.3rem 0.5rem;
        margin-bottom: 10px;

        .information-box {
          &__header {
            margin-bottom: 5px;
          }

          &__text {
            font-size: 0.7rem;
            opacity: 0.7;

            &_style_i {
              font-style: italic;
              opacity: 0.3;
            }
          }

          &__line {
            .line(fade(black, 20%), 100%, 0.5px);
            margin: 10px 0 10px 0;
          }
        }
      }

    }

  }

  &__skills-box {

    .skills-box {

      &__header {
        margin-bottom: 10px;
      }

      &__line {
        .line(fade(black, 20%), 100%, 1px);
        margin: 10px 0 10px 0;
      }

      &__place {
        &-name_c {
          .placeName("c.png");
        }
      }

      &__skills {
        aspect-ratio: 1/ 1;
        display: grid;
        grid-template: repeat(4, 1fr) / 1fr 1rem 1fr;
      }
    }
  }

}

.skill[data-text="js"] {
  .skillBox(1, 1);
}

.skill[data-text="git"] {
  .skillBox(3, 4);
}

.skill[data-text="css"] {
  .skillBox(3, 2);
}

.skill[data-text="pgsql"] {
  .skillBox(3, 3);
}

.skill[data-text="py"] {
  .skillBox(1, 3);
}

.skill[data-text="html"] {
  .skillBox(1, 4);
}